# NODE_ENV=development
# PORT=5000
# MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@CLUSTER.mongodb.net/electronic_shop?retryWrites=true&w=majority
# CLIENT_URL=http://localhost:5173


# CLOUDINARY_CLOUD_NAME=dxsynehit
# CLOUDINARY_API_KEY=577539994776264
# CLOUDINARY_API_SECRET=cWv7ZC4Zg19lMFYF3kfRbaqHBvs
# CLOUDINARY_FOLDER=electronic-shop/catalog
